flask
flask-cors
flask-compress
markdown
black
Pillow==9.5.0
colorama
webuiapi
--extra-index-url https://download.pytorch.org/whl/cu118
accelerate
transformers
diffusers
matplotlib
vosk
huggingface-hub
fastapi
wxpython; sys_platform == 'win32' or sys_platform == 'darwin'
